<p-stepper [value]="currentStep" class="max-w-[50rem] mx-auto">
  <p-step-list>
    <p-step [value]="1">Médico | Especialidade</p-step>
    <p-step [value]="2">Data | Hora</p-step>
    <p-step [value]="3">Resumo</p-step>
  </p-step-list>

  <p-step-panels>
    <!-- STEP 1: Médico e Especialidade -->
    <p-step-panel [value]="1">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col p-4">
          <div class="flex flex-col md:flex-row gap-4 mb-6 w-full">
            <!-- Médico -->
            <div class="flex-1 min-w-0">
              <label for="medico" class="block font-medium mb-2">Médico</label>
              <p-autocomplete
                id="medico"
                [(ngModel)]="medicoValue"
                [dropdown]="true"
                [suggestions]="medicoItems"
                (completeMethod)="searchMedico($event)"
                placeholder="Digite o nome do médico"
                class="w-full"
              ></p-autocomplete>
            </div>
            <!-- Especialidade -->
            <div class="flex-1 min-w-0">
              <label for="especialidade" class="block font-medium mb-2">Especialidade</label>
              <p-autocomplete
                id="especialidade"
                [(ngModel)]="especialidadeValue"
                [dropdown]="true"
                [suggestions]="especialidadeItems"
                (completeMethod)="searchEspecialidade($event)"
                placeholder="Digite a especialidade"
                class="w-full"
              ></p-autocomplete>
            </div>
          </div>
          <br/>
          <div style="display:flex; flex-direction: row-reverse;">
            <p-button
              label="Next"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextStep(2, activateCallback)"
              [disabled]="!medicoValue || !especialidadeValue"
            ></p-button>
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <!-- STEP 2: Data e Hora -->
    <p-step-panel [value]="2">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="flex flex-col p-4">
          <!-- Disabled Recap -->
          <div class="flex flex-col md:flex-row gap-4 mb-6 w-full">
             <!-- Médico -->
             <div class="flex-1 min-w-0">
            <div class="form-field">
              <p-floatlabel variant="on">
                <input
                  pInputText
                  id="medic"
                  name="medic"
                  [(ngModel)]="medicoValue"
                  [readonly]="true"
                  class="p-inputtext-icon-left"
                />
                <i class="pi pi-phone p-input-icon"></i>
                <label for="medic">Médico</label>
              </p-floatlabel>
            </div>
            </div>
            
            <!-- Especialidade -->

            <div class="flex-1 min-w-0">
              <div class="form-field">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="especialidade"
                    name="especialidade"
                    [(ngModel)]="especialidadeValue"
                    [readonly]="true"
                    class="p-inputtext-icon-left"
                  />
                  <i class="pi pi-phone p-input-icon"></i>
                  <label for="especialidade">Especialidade</label>
                </p-floatlabel>
              </div>
              </div>        
          </div>

          <p-divider />

          <!-- Calendar and Time Slots -->
          <div class="container">
            <div class="row">
              <!-- Calendar -->
              <div class="field">
                <div class="form-field">
              <p-datepicker
                [(ngModel)]="date"
                [inline]="true"
                [showWeek]="true"
                [minDate]="minDate"
                class="w-full custom-datepicker"
                [style]="{ 'max-width': '100%' }"
              ></p-datepicker>
            </div>
              </div>
            
            <!-- Time Slots -->
            <div class="field">
              <div class="form-field">
                <div class="time-slots-container">
    
                <span
                  *ngFor="let time of timeSlots"
                  [ngClass]="{
                    'time-slot': true,
                    'time-slot-selected': selectedTime === time
                  }"
                  (click)="selectTime(time)"
                  class="time-slot-span"
                >{{ time }}</span>
            
              </div></div></div>
            </div>
              
          </div>  
          <!-- Navigation -->
          <br/>
          <div style="display:flex; flex-direction: row-reverse;">
            <p-button class="m-left-10"
              label="Next"
              icon="pi pi-arrow-right"
              (onClick)="nextStep(3, activateCallback)"
              [disabled]="!date || !selectedTime"
            ></p-button>
            <p-button class="m-left-10"
              label="Back"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(1)"
            ></p-button>
            
          </div>
        </div>
      </ng-template>
    </p-step-panel>

    <!-- STEP 3: Resumo -->
    <p-step-panel [value]="3">
      <ng-template #content let-activateCallback="activateCallback">
        <div class="container">
          <div class="row">
            <!-- Médico -->
            <div class="field">
              <div class="form-field">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="medic"
                    name="medic"
                    [(ngModel)]="medicoValue"
                    [readonly]="true"
                    class="input-icon-left"
                  />
                  <i class="pi pi-user p-input-icon"></i>
                  <label for="medic">Médico</label>
                </p-floatlabel>
              </div>
            </div>
        
            <!-- Especialidade -->
            <div class="field">
              <div class="form-field">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="especialidade"
                    name="especialidade"
                    [(ngModel)]="especialidadeValue"
                    [readonly]="true"
                    class="input-icon-left"
                  />
                  <i class="pi pi-briefcase p-input-icon"></i>
                  <label for="especialidade">Especialidade</label>
                </p-floatlabel>
              </div>
            </div>
        
            <!-- Data -->
            <div class="field">
              <div class="form-field">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="appointmentDate"
                    name="appointmentDate"
                    [(ngModel)]="date"
                    [readonly]="true"
                    class="input-icon-left"
                  />
                  <i class="pi pi-calendar p-input-icon"></i>
                  <label for="appointmentDate">Data</label>
                </p-floatlabel>
              </div>
            </div>
        
            <!-- Hora -->
            <div class="field">
              <div class="form-field">
                <p-floatlabel variant="on">
                  <input
                    pInputText
                    id="appointmentHour"
                    name="appointmentHour"
                    [(ngModel)]="selectedTime"
                    [readonly]="true"
                    class="input-icon-left"
                  />
                  <i class="pi pi-clock p-input-icon"></i>
                  <label for="appointmentHour">Hora</label>
                </p-floatlabel>
              </div>
            </div>
          </div>
        </div>

        <p-divider align="left" type="solid">
          <b>Informação Médica Adicional</b>
        </p-divider>

            <!-- Notes -->
            <div class="flex-1">
              <p-floatlabel variant="on">
                <textarea pTextarea id="over_label" [(ngModel)]="notes" rows="4" cols="30" style="width: 100%; resize: vertical" placeholder="Descreva informação relevante para a sua consulta"></textarea>
              
            </p-floatlabel>
            </div>

          <br/>
          <div style="display:flex; flex-direction: row-reverse;">
            <p-button class="m-left-10"
              label="Submit"
              icon="pi pi-check"
              (onClick)="submitForm()"
            ></p-button>
            <p-button class="m-left-10"
              label="Back"
              icon="pi pi-arrow-left"
              (onClick)="activateCallback(2)"
            ></p-button>
            
          </div>
      </ng-template>
    </p-step-panel>
  </p-step-panels>
</p-stepper>