
    <!-- PrimeFlex grid container for the form fields -->
  <div class="grid formgrid">

    < header="Dados do Usuário">
    < (ngSubmit)="onSubmit()" #userForm="ngForm" class="p-fluid">
      
      <!-- Username -->
      <p-floatlabel variant ="on" >
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            pInputText
            id="username"
            name="username"
            [(ngModel)]="user.username"
            [readonly]="!isEdit"
            autocomplete="off"
          />
        </span>
        <label for="username">Username</label>
      </p-floatlabel>
  
      <!-- Email -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-envelope"></i>
          <input
            pInputText
            id="email"
            name="email"
            [(ngModel)]="user.email"
            [readonly]="!isEdit"
            autocomplete="off"
          />
        </span>
        <label for="email">Email</label>
      </p-floatlabel>
  
     <!-- Sexo -->
      <p-floatlabel variant ="on">
        <p-select
          id="sex"
          name="sex"
          [(ngModel)]="user.sex"
          [readonly]="!isEdit"
          [options]="sexOptions"
          [style]="{'width': '50%'}"
        ></p-select>
        <label for="sex">Género</label>
      </p-floatlabel>

      <!-- Primeiro Nome -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input
            pInputText
            id="firstName"
            name="firstName"
            [(ngModel)]="user.firstName"
            [readonly]="!isEdit"
          />
        </span>
        <label for="firstName">Primeiro Nome</label>
      </p-floatlabel>

  
      <!-- Último Nome -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-lastName"></i>
            <input
            pInputText
            id="lastName"
            name="lastName"
            [(ngModel)]="user.lastName"
            [readonly]="!isEdit"
          />
        </span>
        <label for="lastName">Último Nome</label>
      </p-floatlabel>
  
      <!-- Data de Nascimento -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-date"></i>
            <p-datepicker 
              [(ngModel)]="user.dateOfBirth" 
              inputId="dateOfBirth" 
              showIcon 
              iconDisplay="input"
            />
        </span>
        <label for="dateOfBirth">Data de Nascimento</label>
      </p-floatlabel>

    
      <!-- Nacionalidade -->
      
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
            <p-select
              pInputText
              id="nationality"
              name="nationality"
              [(ngModel)]="user.nationality"
              [readonly]="!isEdit"
              [options]="nationalityOptions"
              [style]="{'width': '100%'}"
              [filter]="true"
              [filterMatchMode]="'contains'"
              [optionLabel]="'label'"
              [optionValue]="'value'"
              [filterBy]="user.nationality"
              [showClear]="true"
            />
        </span>
        <label for="lastName">Nacionalidade</label>
      </p-floatlabel>              
  
      <!-- Endereço -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-home"></i>
            <input
            pInputText
            id="address"
            name="address"
            [(ngModel)]="user.address"
            [readonly]="!isEdit"
           />
        </span>
        <label for="address">Endereço</label>
      </p-floatlabel>

      <!-- Código Postal -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-home"></i>
            <input
            pInputText
            id="postCode"
            name="postCode"
            [(ngModel)]="user.postCode"
            [readonly]="!isEdit"
         />
        </span>
        <label for="postCode">Código Postal</label>
      </p-floatlabel>
  
      <!-- Número de Identificação Civil -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-"></i>
            <input
            pInputText
            id="civilNumber"
            name="civilNumber"
            [(ngModel)]="user.civilNumber"
            [readonly]="!isEdit"
         />
        </span>
        <label for="civilNumber">Nº Identificação Civil</label>
      </p-floatlabel>
  
      <!-- Número de Saúde -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-"></i>
            <input
            pInputText
            id="medicalNumber"
            name="medicalNumber"
            [(ngModel)]="user.medicalNumber"
            [readonly]="!isEdit"
         />
        </span>
        <label for="medicalNumber">Nº de Saúde</label>
      </p-floatlabel>
  
      <!-- NISS -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-"></i>
            <input
            pInputText
            id="niss"
            name="niss"
            [(ngModel)]="user.niss"
            [readonly]="!isEdit"
         />
        </span>
        <label for="niss">NISS</label>
      </p-floatlabel>
  
      <!-- NIF -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-"></i>
            <input
            pInputText
            id="nif"
            name="nif"
            [(ngModel)]="user.nif"
            [readonly]="!isEdit"
         />
        </span>
        <label for="nif">NIF</label>
      </p-floatlabel>
  
      <!-- Telefone -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-phone"></i>
            <input
            pInputText
            id="phoneNumber"
            name="phoneNumber"
            [(ngModel)]="user.phoneNumber"
            [readonly]="!isEdit"
         />
        </span>
        <label for="phoneNumber">Telefone</label>
      </p-floatlabel>
  
      <!-- Estado Civil -->
      <p-floatlabel variant ="on">
        <span class="p-input-icon-left">
          <i class="pi pi-"></i>
            <input
            pInputText
            id="meritalStatus"
            name="meritalStatus"
            [(ngModel)]="user.meritalStatus"
            [readonly]="!isEdit"
         />
        </span>
        <label for="meritalStatus">Estado Civil</label>
      </p-floatlabel>

      <!-- File Upload -->
      <div class="p-field">
        <label>Adicione foto de perfil</label>
        <p-fileUpload
          name="myfile[]"
          [customUpload]="true"
          (uploadHandler)="onUpload($event)"
          [disabled]="!isEdit"
          [multiple]="false"
          accept=".pdf,.doc,.docx,.jpg,.png"
          maxFileSize="10000000"
        >
          <ng-template pTemplate="content">
           <div class="p-text-center">
              <i class="pi pi-upload" style="font-size: 2rem"></i>
              <p>Arraste e solte o ficheiro aqui ou clique para selecionar</p>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
  
      <!-- Botões -->
      <div class="p-mt-3">
        <button
          pButton
          type="button"
          (click)="toggleEdit()"
          label="{{ isEdit ? 'Cancelar' : 'Editar' }}"
          iconPos="right"
        ></button>
        <button
          pButton
          type="submit"
          label="Submeter"
          class="p-ml-2"
          [disabled]="!isEdit"
          iconPos="right"
        ></button>
      </div>