<h2 style="display: flex; justify-content: center;">Histórico Pessoal</h2>
  <div style="display:flex; flex-flow:row-reverse">
    <p-button label="Add Event" icon="pi pi-pencil" (click)="openMedicalEventDialog()" styleClass="p-mt-2"></p-button>
  </div>
<p-timeline [value]="events">
  <ng-template class="fit-content" pTemplate="content" let-event>
    <p-card [header]="event.title" [subheader]="this.buildSubtitle(event.date, event.subtitle, event.where, event.medic)">
      <p-accordion [activeIndex]="0">
        <p-accordionTab header="Descrição">
          <div *ngIf="!event.locked">
            <textarea pTextarea id="over_label" [(ngModel)]="event.description" rows="4" cols="30" style="width: 100%; resize: vertical" ></textarea>
          </div>

          <div *ngIf="event.locked">
            <p>
              {{event.description}}
            </p>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Medicação">
          <p-table
          [value]="event?.medication"
          [tableStyle]="{ 'min-width': '50rem' }"
          responsiveLayout="scroll"
        >
          <ng-template pTemplate="header" >
            <tr>
              <th>Name</th>
              <th>Dosage</th>
              <th>Frequency</th>
              <th>Instructions</th>
              <th>Start Date</th>
              <th style="width: 8rem" *ngIf="!event.locked">Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-medication>
            <tr>
              <td>{{ medication.name }}</td>
              <td>{{ medication.dosage }}</td>
              <td>{{ medication.frequency }}</td>
              <td>{{ medication.start  | date: 'shortDate' }}</td>
              <td>{{ medication.end | date: 'shortDate' }}</td>
              <td *ngIf="!event.locked">
                <p-button
                  (click)="removeMedication(event,medication)"
                >X</p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No medications found.</td>
            </tr>
          </ng-template>
        </p-table>
          <p-button *ngIf="!event.locked" label="Add Medication" icon="pi pi-pencil" (click)="openMedicationDialog(event)" styleClass="p-mt-2"></p-button>
        </p-accordionTab>
        <p-accordionTab header="Notas">

          <div *ngIf="!event.locked">
            <textarea pTextarea id="over_label" [(ngModel)]="event.notes" rows="4" cols="30" style="width: 100%; resize: vertical" ></textarea>
          </div>

          <div *ngIf="event.locked">
            <p>
              {{event.notes}}
            </p>
          </div>
        </p-accordionTab>
        <p-accordionTab class="badge-visible" header="Anexos" pBadge value="{{event.files.length}}" badgeSize="large" badgeSeverity="info">
          <div *ngIf="!event.locked">
            <p-fileUpload [disabled]="event.locked"
            mode="basic"
            name="demo[]"
            chooseIcon="pi pi-upload"
            [multiple]="true"
            url="https://www.primefaces.org/cdn/api/upload.php"
            accept="image/*" maxFileSize="1000000"
            (onUpload)="onBasicUploadAuto(event.id, $event)"
            [auto]="true"
            chooseLabel="Browse" />
          </div>

          <p></p>

          <!-- Display list items as chips -->
          <div>
            <p-chip
              *ngFor="let item of event.files"
              [label]="item.name"
              [removable]="!event.locked"
              (onRemove)="removeFilesFromEvent(event,item)"
              styleClass="p-mr-2 p-mb-2"
            ></p-chip>
          </div>
        </p-accordionTab>
      </p-accordion>
      <div *ngIf="!event.locked" style="display:flex; flex-flow:row-reverse">
        <p-button label="Submit" icon="pi pi-pencil" (click)="lockMedicalEvent(event)" styleClass="p-mt-2"></p-button>
      </div>
    </p-card>
  </ng-template>
  <ng-template class="fit-opposite" pTemplate="opposite" let-event>
    {{ event.date | date:'MM/yyyy'}}
  </ng-template>
</p-timeline>
